
.fix{
   width: 100%;
   background: white;
}

.cajaHeader{
   margin: 0px auto;
   width: 60%;
   height: 80px;
 }

.cajaHeader img {
    width: 25%;
    height: 150%;
}


.container {
   width: 60%;
   margin: 0px auto;
}

.contenido{
   width: 60%;
   margin: 0px auto;
   height: 100px;
   font-size: 22px;
   color: #40b2aa; 
   text-align: center;
   display: flex;
   justify-content: space-between;
}

.contenido div {
  width: 25%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.contenido div a {
   text-decoration:none;
   cursor: pointer;
   vertical-align:middle;
}

.contenido div a:hover {
   font-size: 30px;
}


.footer{
   width: 100%;
   background: #af254e;
   margin: 0px auto;
   display: flex;
   justify-content: center;
}

.footer img {
  display: block;

}

#dosc , #tresc ,#cuatroc{
   display: none;
}

.cajados, .novedades{
  flex-wrap: wrap;
  justify-content: space-evenly; 
  width: 100%;
}

.cajaJoya{
   border: 1px solid black;
   border-radius: 3.5%;
   padding: 1px;
   width: 15%;
   margin: 3px;
   display: flex;
   flex: wrap;
}
.cajaJoya img{
  width: 100%;
  height: 150px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }



.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 
 .fast {
   -webkit-animation-duration: 0.4s;
   animation-duration: 0.4s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 
 @keyframes fadeIn {
   from {
     opacity: 0;
   }
 
   to {
     opacity: 1;
   }
 }
 
 .fadeIn {
   animation-name: fadeIn;
 }

 #Formulario{
  width: 100%;
  height: 100%;
 }
 #Formulario form input[type="text"]{ 
  border: 2px solid #B1B2B2;
  font-size: 1rem;
    }
 #Formulario form input[type="submit"]{
  border: 2px solid #B1B2B2;
  font-size: 1rem;
 } 
 #Formulario form textarea{
  border: 2px solid #B1B2B2;
  font-size: 1rem;
 }  